body {
  background-color: #ededed;
  min-width: 0;
  color: #444;
  /* line-height: 1.4em; */
  height: 100%;
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-success:focus, .btn-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-outline-success:focus, .btn-outline-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-danger:focus, .btn-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-primary:focus, .btn-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-info:focus, .btn-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-outline-info:focus, .btn-outline-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

/* button {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
} */
